body {
}

.dataTables_filter {
    float:left;    
}

.btn-group {
    float: right;
}

.wrapper1 {
    display: block;
    overflow: hidden;
    margin: 0 auto;
    background: #fff;
    border-radius: 4px;
}

#myChart4 {
    background: #fff;
    height: 300px;
}

